{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Segmen UMKM</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Segmentasi UMKM">
<link rel="icon" href="{% static '/logo.png' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
</head>
<body>
<nav class="teal darken-1">
      <div class="nav-wrapper">
        <a class="brand-logo">   Hello, {{user.first_name}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/owner">Home</a></li>
          <li><a href="/">Log out</a></li>
        </ul>
      </div>
</nav>

<table border = "1" cellpadding="5" cellspacing="5">
    <td><b>Segmen ke-</b></td>
    <td><b>Nama Responden</b></td>
    <td><b>Jenis Kelamin</b></td>
    <td><b>Umur</b></td>
    <td><b>Pekerjaan</b></td>
    <td><b>Status Pernikahan</b></td>
    <td><b>Pendapatan</b></td>
    <td><b>Sumber Informasi Mengenai Produk</b></td>
    <td><b>Frekuensi Pembelian Produk per Tahun</b></td>
    <td><b>Jumlah Pengeluaran Rata-Rata Dalam Sekali Pembelian</b></td>
    <td><b>Strategi Pemasaran Yang Paling Menarik Dalam Pembelian Produk</b></td>
    <td><b>Tempat Penayangan Iklan Atau Placement Yang Paling Menarik</b></td>
    <td><b>Bentuk Iklan Yang Paling Menarik</b></td>
    <td><b>Konten Iklan Yang Paling Menarik</b></td>
    {% for i in data %}

    <tr>
        <td>{{i.segmen_baru}}</td>
        <td>{{i.responden_name}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.umur}}</td>
        <td>{{i.pekerjaan}}</td>
        <td>{{i.status}}</td>
        <td>{{i.pendapatan}}</td>
        <td>{{i.sumber_informasi_mengenai_produk}}</td>
        <td>{{i.frekuensi_pembelian_produk_per_tahun}}</td>
        <td>{{i.jumlah_pengeluaran_rata_rata_dalam_sekali_pembelian}}</td>
        <td>{{i.strategi_pemasaran_yang_paling_menarik_dalam_pembelian_produk}}</td>
        <td>{{i.tempat_penayangan_iklan_atau_placement_yang_paling_menarik}}</td>
        <td>{{i.bentuk_iklan_yang_paling_menarik}}</td>
        <td>{{i.konten_iklan_yang_paling_menarik}}</td>
    </tr>

    {% endfor %}
</table>

<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>