{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Segmen UMKM</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Segmentasi UMKM">
<link rel="icon" href="{% static '/logo.png' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
</head>

<body>
<!-- Default form register -->

<nav class="teal darken-1">
      <div class="nav-wrapper">
        <a class="brand-logo center">Kebijakan Syarat dan Privasi</a>
      </div>
</nav>

    <blockquote class="container black-text">
        <h5>Bahwa semua data-data yang diinput akan dijaga kerahasiaannya.</h5>
    </blockquote>

    <blockquote class="container black-text">
        <h5>Data-data tersebut hanya akan digunakan untuk kepentingan perbaikan kinerja software dan penelitian serta tujuan-tujuan non komersial lainnya.</h5>
    </blockquote>

    <blockquote class="container black-text">
        <h5>Software akan dipergunakan untuk kepentingan-kepentingan yang bersifat non komersial.</h5>
    </blockquote>

<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>